<header class="header">
        <div class="container">
            <nav>
        <a href="#" class="header__logo"><img src="../../assets/icons/main_logo.svg" alt="house"></a>
            <ul class="header__menu">
                <a href="#" class="header__menu-item">
                    <li>Аренда</li>
                </a>
                <a href="#" class="header__menu-item">
                    <li>Продажа</li>
                </a>
                <a href="#" class="header__menu-item">
                    <li>Коммерческая недвижимость</li>
                </a>
            </ul>      
        <button class="header__btn"><span>Добавить объявление</span></button>
        <img src="../../assets/icons/user_logo.svg" alt="user" class="header__account">
        </nav>
    </div>  
</header>
