<footer class="footer">
    <div class="container">
        <p class="footer__info">Оказание услуг ООО «РиэлтБай», УНП 191179355
            Свидетельство о регистрации №0173045 выданное 25 ноября 2009 г. Минским городским исполнительным комитетом
            220004, г. Минск, ул. Кальварийская 21/1, офис 125. Время работы 9:00-18:00 (сб, вс – выходной)</p>

        <div class="footer__img-container">
            <img src="../../assets/icons/visa_35h.png" alt="visa" class="footer__img-item">
            <img src="../../assets/icons/visa_secure_35h.png" alt="visa" class="footer__img-item">
            <img src="../../assets/icons/mastercard_35h.png" alt="visa" class="footer__img-item">
            <img src="../../assets/icons/mastercard_id_check.png" alt="visa" class="footer__img-item">
            <img src="../../assets/icons/raschet.png" alt="visa" class="footer__img-item">
            <img src="../../assets/icons/amex_35h.png" alt="visa" class="footer__img-item">
            <img src="../../assets/icons/belkart_parol_35h.png" alt="visa" class="footer__img-item">

        </div>
    </div>
</footer>
