.footer {
    padding: 5px 0 10px 0;
    background-color: rgb(179, 174, 174);
    &__img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img-item {
        height: 40px;
        margin-left: 10px;
    }
}