<section class="news">
    <div class="container">
        <div class="title">Новости Недвижимости</div>
        <div class="wrapper">
            <div id="c1" class="card">
                <a href="#"><img src="../../../../../assets/img/news/1-csb1n.jpg" alt="realty" class="card-photo"></a>
                <p class="text">ЖК «Парк Челюскинцев» — премиальные апартаменты в самом экологически чистом районе столицы! </p>
            </div>

            <div id="c2" class="card">
                <a href="#"><img src="../../../../../assets/img/news/170517_160029_01.jpg" alt="realty" class="card-photo"></a>
                <p class="text">ЖК «Парк Челюскинцев» — премиальные апартаменты в самом экологически чистом районе столицы! </p>
            </div>

            <div id="c3" class="card">
                <a href="#"><img src="../../../../../assets/img/news/20200129_123900_01.jpg" alt="realty" class="card-photo"></a>
                <p class="text">ЖК «Парк Челюскинцев» — премиальные апартаменты в самом экологически чистом районе столицы! </p>
            </div>

            <div class="card">
                <a href="#"><img src="../../../../../assets/img/news/dda7ebd13447099225293c1010222e8a.jpg" alt="realty" class="card-photo"></a>
                <p class="text">ЖК «Парк Челюскинцев» — премиальные апартаменты в самом экологически чистом районе столицы! </p>
            </div>

            <div id="c5" class="card">
                <a href="#"><img src="../../../../../assets/img/news/329be26b0b9027c96cf813f2a16df1e2.jpg" alt="realty" class="card-photo"></a>
                <p class="text">ЖК «Парк Челюскинцев» — премиальные апартаменты в самом экологически чистом районе столицы! </p>
            </div>

            <div class="card">
                <a href="#"><img src="../../../../../assets/img/news/329be26b0b9027c96cf813f2a16df1e2.jpg" alt="realty" class="card-photo"></a>
                <p class="text">ЖК «Парк Челюскинцев» — премиальные апартаменты в самом экологически чистом районе столицы! </p>
            </div>

        </div>
    </div>
</section>
