<section *ngIf="newsCard | async as cardItem" class="newsPage">
  <div class="container">
    <div class="mainNews">
      <div class="title">{{ cardItem?.title }}</div>
      <div class="date">16.01.2022</div>
      <div class="author">Автор: <a class="author-name"> Вероника Малыщиц</a> </div>
      <div class="description">Планируете купить недорогую квартиру в 2022 году, но старый жилой фонд не подходит? Мы уже показали, как выглядят и сколько стоят однушки и двушки на продажу в домах не старше 1991 года. Никаких хрущевок с маленькими кухнями! В нашей сегодняшней подборке интересные варианты трехкомнатных квартир площадью от 72 до 84 «квадратов», которые продаются в Минске. Стоимость их не превышает 86 тысяч долларов.</div>
      <div class="photo">
        <img src="/assets/img/news/9291bf4aa5acaab1cf4dd58f5fdf685f.jpg">
      </div>
      <p class="addInfo">
        Расположена квартира в одноэтажном кирпичном доме на улице Карла Маркса, 62−1. Окружение дома, построенного в начале прошлого века — топовое. Рядом находится центральный бобруйский рынок и главное − пешеходная улица Социалистическая. На ней можно найти не только огромное количество сувенирных лавочек и кафешек, но и самую фотографируемую достопримечательность города — бронзового Бобра. Поблизости также находится площадь Победы с большим сквером, областной драматический театр имени Дунина-Марцинкевича и городской музей.
        Площадь квартиры — всего 33,2 квадратного метра. Судя по фотографиям, жилье давно пустует и требует ремонта. В местных новостях за 2019 год, есть упоминание о том, что в квартире был пожар. На снимках, кстати, можно заметить обгоревший санузел. Однако отмечается, что в доме есть все коммуникации: электричество, отопление, канализация, водопровод и газоснабжение.
        Учитывая месторасположение жилья, вместо обычных соседей у будущих жильцов будут общественные заведения. Так, в одном доме с квартирой уже располагается аптека и кафе «Арбатъ». Возможно, будущий владелец также решит перевести квартиру в нежилой фонд.

        Начальная стоимость объекта — 31 тысяча рублей, или 11,9 тысяч долларов. Электронные торги, которые пройдут на площадке «БелЮрОбеспечение», назначены на 8 февраля.
      </p>
    </div>
  </div>

</section>
