<section class="ads">
    <div class="container">
        <h2 class="title">Популярные объявления</h2>
        <h3 class="subtitle">Продажа:</h3>

        <div class="wrapper">
            <div class="item">
                <img src="../../assets/img/flats/1617587576_17-p-stil-kontemporari-v-interere-kvartiri-18.jpg" alt="flat" class="item-photo">
                <span class="item-price">450 000 $</span><br>
                <span class="item-square">3-комн. кв., 76 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br>  
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/1627040454_32-almode_ru-p-dizainerskie-intereri-kvartir-33.jpg" alt="flat" class="item-photo">
                <span class="item-price">300 000 $</span><br>
                <span class="item-square">2-комн. кв., 54 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/3_669.jpg" alt="flat" class="item-photo">
                <span class="item-price">250 000 $</span><br>
                <span class="item-square">2-комн. кв., 50 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/design-gostinoi-foto.jpg" alt="flat" class="item-photo">
                <span class="item-price">100 000 $</span><br>
                <span class="item-square">1-комн. кв., 39 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/EVKSr7SVAAEOxVv.jpg" alt="flat" class="item-photo">
                <span class="item-price">96 000 $</span><br>
                <span class="item-square">1-комн. кв., 40 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/Kvartira-1152x759.jpg" alt="flat" class="item-photo">
                <span class="item-price">369 000 $</span><br>
                <span class="item-square">2-комн. кв., 69 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/Pravila-idealnogo-osveshheniya-v-kvartire-64-1024x820.jpg" alt="flat" class="item-photo">
                <span class="item-price">521 000 $</span><br>
                <span class="item-square">4-комн. кв., 101 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/image52-min-17.jpg" alt="flat" class="item-photo">
                <span class="item-price">123 000 $</span><br>
                <span class="item-square">1-комн. кв., 44 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>
        </div>

        <h3 class="subtitle">Аренда:</h3>
        <div class="wrapper">
            <div class="item">
                <img src="../../assets/img/flats/1617587576_17-p-stil-kontemporari-v-interere-kvartiri-18.jpg" alt="flat" class="item-photo">
                <span class="item-price">450 000 $</span><br>
                <span class="item-square">3-комн. кв., 76 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br>  
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/1627040454_32-almode_ru-p-dizainerskie-intereri-kvartir-33.jpg" alt="flat" class="item-photo">
                <span class="item-price">300 000 $</span><br>
                <span class="item-square">2-комн. кв., 54 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/3_669.jpg" alt="flat" class="item-photo">
                <span class="item-price">250 000 $</span><br>
                <span class="item-square">2-комн. кв., 50 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/design-gostinoi-foto.jpg" alt="flat" class="item-photo">
                <span class="item-price">100 000 $</span><br>
                <span class="item-square">1-комн. кв., 39 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/EVKSr7SVAAEOxVv.jpg" alt="flat" class="item-photo">
                <span class="item-price">96 000 $</span><br>
                <span class="item-square">1-комн. кв., 40 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/Kvartira-1152x759.jpg" alt="flat" class="item-photo">
                <span class="item-price">369 000 $</span><br>
                <span class="item-square">2-комн. кв., 69 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/Pravila-idealnogo-osveshheniya-v-kvartire-64-1024x820.jpg" alt="flat" class="item-photo">
                <span class="item-price">521 000 $</span><br>
                <span class="item-square">4-комн. кв., 101 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>

            <div class="item">
                <img src="../../assets/img/flats/image52-min-17.jpg" alt="flat" class="item-photo">
                <span class="item-price">123 000 $</span><br>
                <span class="item-square">1-комн. кв., 44 м<sup>2</sup></span><br>
                <span class="item-street">Улица 800-летия Москвы</span><br> 
                <span class="item-location">Ст.м. Михалова</span>
            </div>
        </div>
    </div>
</section>
