  button {
    display: block;
    margin: 30px auto 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    padding: 6px 12px;
    width: 200px;
    background-color: #59abe3;
    border: 2px solid #59abe3;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: #FFFFFF;
      color: #59abe3;
    }
  }

  #add {
    grid-column: 2/3;
  }


