
.card {
  font-family: 'Lato', sans-serif;
  background-color: rgb(234, 234, 236);
  height: 320px;
  padding: 10px;
  transition: all .4s;
  cursor: pointer;

  &:hover {
    border-bottom: 3px solid rgba(73, 89, 230, .7);
  }

  &-photo {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }

}


