<div class="profile-container">
  <div class="overlay">
    <div class="profile-modal">
      <a routerLink="/" class="cross"></a>
      <div class="modal-overlay">
      </div>
      <img class="user-photo" src="assets/icons/user.png">
      <h2 class="title-name">{{ currentUser.userName }} {{ currentUser.userSurname }}</h2>
      <p class="title-email">{{ currentUser.userEmail }}</p>
      <div class="btns">
        <button routerLink="/edit" class="btn">
          Изменить
        </button>
        <button class="btn btn-logout">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

