<section class="card">
  <div class="container">
    <h2 class="title">Квартира по адресу Улица 800-летия Москвы</h2>
      <h3 class="price">450 000 $</h3>
        <p class="metro">Ст.м. Михалова</p>
    <div class="contacts-wrapper">
      <img src="assets/img/flats/3_669.jpg" alt="flat" class="card-photo">

      <div class="contacts">
        <h2 class="title">Контакты:</h2>
        <div>
          <span>Марина</span><br>
          Моб.тел: <a href="tel:+380985554433"> +380985554433</a><br>
          <span class="socials"></span>
        </div>
      </div>
      <div class="info">
        <h2 class="title">Общая информация</h2>
        <table class="table">
          <tr><td>Название</td><td>dfhgtgh</td></tr>
          <tr><td>Название</td><td>dfhgtgh</td></tr>
          <tr><td>Название</td><td>dfhgtgh</td></tr>
        </table>
      </div>
    </div>

    <h2 class="title">Описание</h2>
      <p class="descr">
        У нас нет ответов как сделать Ваш бизнес успешней, мы поможем сделать это с комфортом!

        Многофункциональный комплекс «Колизей» - отличное решение для Вашего бизнеса. Комплекс расположен в центре города рядом с парковой зоной и Слепянской водной системой, в десяти минутах от станции метро Академия наук. Транспортная доступность обусловлена выгодным расположением между улицами Академическая и Козлова. К услугам наших арендаторов и гостей круглосуточный многоуровневый паркинг. Пять шагов от автомобиля до офиса – это реальность.

        В комплексе размещены 2 высокоскоростных бесшумных лифта.

        Широкий спектр предложений по пространствам для бизнеса – от уютного офиса площадью 69м2 до этажа целиком площадью 2500м2 формата open space c предусмотренными выделенными помещения под show room, переговорные, конференц-залы, комнаты отдыха, складские помещения и прочее.
      </p>




  </div>
</section>
