<section class="card">
  <div class="container">
    <h2 class="title">Квартира по адресу Улица 800-летия Москвы</h2>
    <h3 class="price">450 000 $</h3>
    <p class="metro">Ст.м. Михалова</p>
    <div class="contacts-wrapper">
      <img src="assets/img/flats/3_669.jpg" alt="flat" class="card-photo">

      <div class="contacts">
        <h2 class="title">Контакты:</h2>
        <div>
          <p class="name">Марина</p><br>
          <p class="mobile"><img src="assets/icons/socials/a1.svg" alt=""> <a href="tel:+380985554433"> +375 29
            555-44-33</a></p><br>
          <p class="mobile"><img src="assets/icons/socials/mts.svg" alt=""> <a href="tel:+380985554433"> +375 33
            555-44-33</a></p><br>
          <div class="socials">
            <a href="/"><img src="assets/icons/socials/viber_logo.svg"></a>
            <a href="/"><img src="assets/icons/socials/vk_logo.svg"></a>
            <a href="/"><img src="assets/icons/socials/wharsapp_logo.svg"></a>
          </div>
        </div>
      </div>

      <div class="info">
        <h2 class="title">Общая информация</h2>
        <table class="table">
          <tr>
            <td>Комнат всего</td>
            <td>4-комнатная квартира</td>
          </tr>
          <tr>
            <td>Этаж / этажность</td>
            <td>14 / 26</td>
          </tr>
          <tr>
            <td>Тип дома</td>
            <td>каркасно-блочный</td>
          </tr>
          <tr>
            <td>Балкон</td>
            <td>3 лоджии застекленные</td>
          </tr>
          <tr>
            <td>Высота потолков</td>
            <td>3.2 м</td>
          </tr>
          <tr>
            <td>Год постройки</td>
            <td>2012</td>
          </tr>
        </table>
      </div>
    </div>

    <h2 class="title">Описание</h2>
    <p class="descr">
      У нас нет ответов как сделать Ваш бизнес успешней, мы поможем сделать это с комфортом!<br><br>

      Многофункциональный комплекс «Колизей» - отличное решение для Вашего бизнеса. Комплекс расположен в центре города
      рядом с парковой зоной и Слепянской водной системой, в десяти минутах от станции метро Академия наук. Транспортная
      доступность обусловлена выгодным расположением между улицами Академическая и Козлова. К услугам наших арендаторов
      и гостей круглосуточный многоуровневый паркинг. Пять шагов от автомобиля до офиса – это реальность.<br><br>

      В комплексе размещены 2 высокоскоростных бесшумных лифта.<br><br>

      Широкий спектр предложений по пространствам для бизнеса – от уютного офиса площадью 69м2 до этажа целиком площадью
      2500м2 формата open space c предусмотренными выделенными помещения под show room, переговорные, конференц-залы,
      комнаты отдыха, складские помещения и прочее.
    </p>


  </div>
</section>
