.cards {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template: repeat(1,  minmax(300px, auto)) / repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 15px;
}

.form-group {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  label {
    display: block;
    margin: 5px;
    font-size: 17px;
  }

  input {
    display: inline-block;
    position: relative;
    font-size: 17px;
    height: 30px;
    width: 600px;
    border: none;
    padding: 20px;
    outline: none;
    border-radius: 10px;

    &::placeholder {
      font-size: 16px;
      opacity: .8;
    }
  }
}

.adding {
  height: 100%;
  padding: 0 10px 0 10px;
  transition: all .5s;
  :hover {
    opacity: .6;
  }
}
.btn {
  position: relative;
  width: 220px;
  height: 40px;
  border-radius: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  background-color:  var(--primary-color);
  border: none;
  cursor: pointer;
  transition: all .3s;
  span {
    margin-left: 15px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 13px;
    top: 18px;
    height: 3px;
    width: 15px;
    background: #000;
  }
  &::after {
    content: '';
    position: absolute;
    left: 13px;
    top: 19px;
    height: 2px;
    width: 15px;
    transform: rotate(-90deg);
    background: #000;
  }
}

#n1 {
  grid-column: 1/3;
}

#n5 {
  grid-column: 2/4;
}
