nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    display: block;
    width: 40px;
    height: 40px;
}
.menu {
    width: 500px;
    margin-right: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    &-item {
        padding-left: 25px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        list-style-type: none;
        transition: all .3s;
        &:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }
    }
}
.account {
    display: block;
    position: absolute;
    right: 179px;
    top: 19%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.btn {
    position: relative;
    width: 210px;
    height: 40px;
    border-radius: 10px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    background-color:  var(--primary-color);
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        transform: scale(.95);
        font-size: 14px;
    }
    span {
        margin-left: 15px;
    }
    &::before {
        content: '';
        position: absolute;
        left: 13px;
        top: 18px;
        height: 3px;
        width: 15px;
        background: #000;
    }
    &::after {
        content: '';
        position: absolute;
        left: 13px;
        top: 19px;
        height: 2px;
        width: 15px;
        transform: rotate(-90deg);
        background: #000;
    }
}
.btn-signin {
    position: relative;
    margin-left: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    background-color:  rgba($color: #FFD02F, $alpha: 1);
    text-align: end;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color:  rgba($color: #FFD02F, $alpha: .8);
    }
}
