<div class="container">
    <nav>
        <a href="#" class="logo"><img src="../../assets/icons/main_logo.svg" alt="house"></a>
            <ul class="menu">
                <a href="#" class="menu-item">
                    <li>Аренда</li>
                </a>
                <a href="#" class="menu-item">
                    <li>Продажа</li>
                </a>
                <a href="#" class="menu-item">
                    <li>Коммерческая недвижимость</li>
                </a>
            </ul>      
        <button class="btn"><span>Добавить объявление</span></button>

        <div class="signin">
            <button class="btn-signin"><span>Войти</span></button>
            <img src="../../assets/icons/user_logo.svg" alt="user" class="account">
        </div>
        
    </nav>
</div>  

