:host {
  display: block;
  background-color: darkgray;
  text-align: center;
  padding: 15px;
}
.info {
  margin: 10px 0;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-item {
  height: 40px;
  margin-left: 10px;
}
