<section class="filter">
  <div class="container">
    <h2 class="title">Лучший сайт по подбору жилья по всей Беларуси</h2>
    <div class="wrapper">
      <div class="btns">
        <button class="btn btn-rooms">Кол-во комнат</button>

        <button class="btn btn-price">Цена</button>

        <input class="input" placeholder="Укажите город,адрес или район" type="text">
        <img src="assets/icons/3844432-magnifier-search-zoom_110300.svg" class="loupe">
        <button type="submit" class="btn-search">Искать</button>
      </div>
      <button type="reset" class="btn-reset">Очистить</button>
    </div>
  </div>
</section>
