<section class="filter">
  <div class="container">
    <h2 class="title">Лучший сайт по подбору жилья по всей Беларуси</h2>
    <div class="wrapper">
      <form
        [formGroup]="searchingForm"
        class="filters"
        novalidate>
        <app-custom-dropdown *ngFor="let drop of dropdownNames" [options]="drop" formControlName="dropdownControl"></app-custom-dropdown>
<!--        <app-custom-dropdown [options]="dropMenuOptions.rooms" [selectedOption]="dropdownName[1]" formControlName="dropdownControl"></app-custom-dropdown>-->
<!--        <app-custom-dropdown [options]="dropMenuOptions.region" [selectedOption]="dropdownName[2]" formControlName="dropdownControl"></app-custom-dropdown>-->
<!--        <app-custom-dropdown [options]="dropMenuOptions.price" [selectedOption]="dropdownName[3]" formControlName="dropdownControl"></app-custom-dropdown>-->

        <input placeholder="Укажите адрес или район" type="text" formControlName="search">
      </form>
      <div class="btns">
        <button (click)="onSearch()" type="submit" class="btn btn-search">Искать</button>
        <button (click)="onReset()" type="reset" class="btn btn-reset">Очистить</button>
      </div>
    </div>
  </div>
</section>
