<section class="filter">
  <div class="container">
    <h2 class="title">Лучший сайт по подбору жилья по всей Беларуси</h2>
    <div class="wrapper">
      <div class="filters">

        <div class="select">
          <label class="select-label" for="rooms">Кол-во комнат</label>
          <select class="select-rooms">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>

        <div class="select">
          <label class="select-label" for="price">Цена</label>
          <select class="select-price">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>


        <input placeholder="Укажите город,адрес или район" type="text">

      </div>
      <div class="btns">
        <button type="submit" class="btn btn-search">Искать</button>
        <button type="reset" class="btn btn-reset">Очистить</button>
      </div>
    </div>
  </div>
</section>
