<div class="account-container">
  <div class="overlay">
  <form [formGroup]="registerForm" >
    <h2 class="title">Создайте аккаунт</h2>
      <div class="form-group">
        <label for="name">Имя</label>
        <input
          type="text"
          formControlName="userName"
          class="form-input"
          required
        />
      </div>

    <div class="form-group">
      <label for="surname">Фамилия</label>
      <input
        type="text"
        formControlName="userSurname"
        class="form-input"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        formControlName="userEmail"
        class="form-input"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        type="password"
        formControlName="password"
        class="form-input"
        required
      />
    </div>

    <div class="form-group">
      <label for="confirmPassword">Повторите пароль</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-input"
        required
      />
    </div>

    <button class="btn-register">
      Создать аккаунт
    </button>
  </form>
  </div>
</div>
