<a [routerLink]="['page/', card.type, card.id ]" >
  <div class="item">
    <div class="overlay"></div>
    <img class="item-photo" src="{{ card.url }}">
    <img src="assets/icons/heart-outline.svg" alt="heart" class="fav-icon">
    <span *ngIf="card.type === 'sell'" class="item-price">{{ card.price }} $</span>
    <span *ngIf="card.type === 'rent'" class="item-price">{{ card.price }}$/сут</span><br>
    <span class="item-street">{{ card.street }}</span><br>
    <span class="item-square">{{ card.numberOfRooms }}-комн.кв., {{ card.square }}м<sup>2</sup></span><br>
    <span class="item-location">{{ card.metro }} </span>
  </div>
</a>
