<section class="filter">
    <div class="container">
        <h2 class="title">Лучший сайт по подбору жилья по всей Беларуси</h2>  
            <div class="search__wrapper">
                    <div class="search__wrapper-btns">
                        <button class="btn filter__btn-rooms">Кол-во комнат</button>
        
                        <button class="btn filter__btn-price">Цена</button>
            
                            <input class="filter__input" placeholder="Укажите город,адрес или район" type="text" >
      
                        <button type="submit" class="filter__btn-search">Поиск</button>
                    </div>
            </div>
    </div>
</section>
