.profile-container {
  height: 100vh;
  background: url("../../../../assets/img/registr_bg.jpg") center (center / cover) no-repeat;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  .profile-modal {
    width: 40%;
    height: 55%;
    font-family: 'Lato', sans-serif;
    position: absolute;
    padding: 45px;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    border-radius: 0 0 20px 20px;
    background-color: rgba(255,255,255,0.6);
  }
  .cross {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 35px;
    height: 35px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 25px;
      width: 2px;
      background-color: #ffff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .modal-overlay {
    width: 100%;
    height: 30%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: darkslategrey;
    z-index: -1;
  }
  .user-photo {
    margin-top: 20px;
    display: block;
    width: 20%;
  }
  .title-name {
    font-size: 35px;
    margin-top: 30px;
  }
  .title-email {
    margin-bottom: 7px;
    font-size: 16px;
  }
  .title-admin {
    position: absolute;
    font-size: 30px;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    color: #FFFFFF;
  }

  .adverts {
    color: #2C3E50;
    cursor: pointer;
    font-size: 17px;
    &:hover {
      text-decoration: underline;
    }
  }

  .btns {
    margin-top: 40px;
    display: flex;
  }

  .btn {
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 17px;
    height: 50px;
    padding: 6px 12px;
    width: 110px;
    background-color: #4682B4;
    border: 2px solid #4682B4;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: #B0C4DE;
      color: #FFFFFF;
    }
  }

  .btn-logout {
    background-color: #B22222;
    border: 2px solid #B22222;

    &:hover {
      background-color: #F08080;
    }
  }
}
