<div class="account-container">
  <div class="overlay">
    <form
      [formGroup]="editForm"
      (ngSubmit)="onSubmit()"
      novalidate>
      <h2 class="title">Изменить профиль</h2>
      <div class="form-group">
        <label for="name">Имя</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"
          [class.is-invalid]="submitted && formControls.userName.errors"
        />
        <div *ngIf="submitted && formControls.userName.errors" class="invalid-feedback">
          <div *ngIf="formControls.userName.errors.required">Это поле обязательно</div>
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Фамилия</label>
        <input
          type="text"
          formControlName="userSurname"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="userEmail"
          class="form-control"
          [class.is-invalid]="submitted && formControls.userEmail.errors"
        />
        <div *ngIf="submitted && formControls.userEmail.errors" class="invalid-feedback">
          <div *ngIf="formControls.userEmail.errors.required">Это поле обязательно</div>
          <div *ngIf="formControls.userEmail.errors.email">Введите верную электронную почту</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Пароль</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        [class.is-invalid]="submitted && formControls.password.errors"
      />
      <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
        <div *ngIf="formControls.password.errors.required">Это поле обязательно</div>
        <div *ngIf="formControls.password.errors.minLength">Пароль должен иметь не менее 6 символов</div>
      </div>
  </div>

      <div class="form-group">
        <label for="confirmPassword">Повторите пароль</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
          [class.is-invalid]="submitted && formControls.confirmPassword.errors"
        />
        <div *ngIf="submitted && formControls.confirmPassword.errors"
          class="invalid-feedback">
          <div *ngIf="formControls.confirmPassword.errors.required">
            Подтвердите пароль
          </div>
          <div *ngIf="formControls.confirmPassword.errors.mustMatch">
            Пароли должны совпадать
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="btns">
          <button
            class="btn btn-save"
            [disabled]="loading">
            Сохранить
          </button>
          <button
            routerLink="/details"
            class="btn btn-cancel">
            Отмена
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
