<div class="container">
  <nav>
    <a routerLink="/" class="logo"><img src="../../assets/icons/main_logo.svg" alt="house"></a>
    <ul class="menu">
      <a href="#" class="menu-item">
        <li>Аренда</li>
      </a>
      <a href="#" class="menu-item">
        <li>Продажа</li>
      </a>
      <a href="#" class="menu-item">
        <li>Новости</li>
      </a>
    </ul>
    <div routerLink="favourite" class="favourite">
      <img src="assets/icons/heart-outline.svg" alt="heart">
      <span>Избранное</span>
    </div>

    <div class="adding">
      <button class="btn" routerLink="adding"><span>Добавить объявление</span></button>
    </div>

    <div *ngIf="isAuthorized() && !isAdmin()" class="signin">
      <button class="btn-registr" routerLink="details"><span>Мой профиль</span></button>
    </div>

    <div *ngIf="isAdmin()" class="signin">
      <button class="btn-signin admin" [routerLink]="['admin/adminProfile', 'admin1']"><span>Админ</span></button>
      <img src="../../assets/icons/admin.png" alt="admin" class="account">
    </div>

    <div *ngIf="!isAuthorized() && !isAdmin()" class="signin">
      <button class="btn-signin" routerLink="login"><span>Войти</span></button>
      <img src="../../assets/icons/user_logo.svg" alt="user" class="account">
    </div>

    <div *ngIf="isAuthorized() && isAdmin" class="signin">
      <button class="btn-signin" data-btn="signout" (click)="signOut()"><span>Выйти</span></button>
      <img src="../../assets/icons/user_logo.svg" alt="user" class="account">
    </div>

  </nav>
</div>

