
.container {
  margin: 20px auto;
  display: grid;
  width: 100%;
  grid-template: repeat(2, minmax(300px, auto)) / repeat(4, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 15px;
}

.title {
  padding-top: 70px;
  text-align: center;
}
