<section *ngIf="newsCard | async as cardItem" class="newsPage">
  <div class="container">
    <div class="mainNews">
      <div class="title">{{ cardItem.title }}</div>
      <div class="date">{{ cardItem.date }}</div>
      <div class="author">Автор: <a class="author-name">{{ cardItem.author }}</a></div>
      <p class="description">{{ cardItem.description }}</p>
      <img class="photo" src="{{ cardItem.url }}" alt="news">
      <p class="addInfo">{{ cardItem.additionalInfo }}</p>
    </div>
  </div>

</section>
